@use '@carbon/layout';

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: layout.$spacing-05;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logosContainer {
  display: flex;
  max-height: layout.$spacing-07;
  gap: layout.$spacing-03;
  opacity: 80%;
}

.logo {
  height: layout.$spacing-07;
  width: auto;
  max-width: layout.$spacing-12;
  object-fit: contain;
  display: block;
  flex-shrink: 0;
}

@media only screen and (max-width: 1024px) {
  .footer {
    justify-content: flex-start;
    background-color: white;
    height: layout.$spacing-08;
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: layout.$spacing-03;
    padding: layout.$spacing-05;
  }

  .poweredByTile {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.25rem layout.$spacing-05;
    font-size: layout.$spacing-04;
    height: auto;
    max-width: 100%;
    border-radius: layout.$spacing-04;
  }

  .poweredBySubtext {
    display: none;
  }
}

.poweredByTile {
  display: flex;
  text-align: left;
  max-width: fit-content;
  min-height: fit-content;
  font-size: smaller;
  background-color: colors.$white;
  padding: layout.$spacing-03 layout.$spacing-05;
  border: 1px solid colors.$gray-20;
  border-radius: layout.$spacing-04;
  flex-wrap: wrap;
}

.poweredByContainer {
  display: flex;
  height: layout.$spacing-06;
  align-items: center;
  gap: layout.$spacing-03;
}

.poweredByLogo {
  height: layout.$spacing-07;
  width: auto;
  max-width: layout.$spacing-12;
  border-collapse: collapse;
  padding: 0;
  object-fit: contain;
  display: block;
  flex-shrink: 0;
}

.poweredByLogo + .poweredByText {
  margin-left: layout.$spacing-02;
}

.learnMoreButton {
  display: flex;
  align-items: center;

  svg {
    fill: colors.$blue-60;
  }
}
