@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.primaryNavContainer {
  height: var(--omrs-topnav-height);
}

.languageOptionsContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: layout.$spacing-05;
  max-height: 28rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: layout.$spacing-03; /* Prevent scrollbar overlap */

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
}

.languageRadioButton {
  display: flex;
  height: layout.$spacing-09;
  align-items: center;
  @include type.type-style('body-compact-01');
}

.updateDefaultLocaleContainer {
  padding-top: layout.$spacing-03;
  padding-left: layout.$spacing-05;
  padding-right: layout.$spacing-05;
  padding-bottom: layout.$spacing-06;
}

.updateDefaultLocaleExplainer {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.submitButton {
  :global(.cds--inline-loading) {
    min-height: layout.$spacing-05 !important;
  }

  :global(.cds--inline-loading__text) {
    font-size: unset !important;
  }
}
