@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.backgroundContainer,
.centeredLoginBackgroundContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.contentOverlay {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1150px) {
  .backgroundContainer {
    max-width: 90%;
    justify-content: right;
  }

  .backgroundImage {
    object-fit: fit;
    max-width: 55%;
  }
}
